@font-face {
    font-family: "B612";
    src: url('./fonts/B612/B612-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "B612";
    src: url('./fonts/B612/B612-Bold.ttf');
    font-weight: bold;
}

:root {
    --accentred: #770000;
    --element-bg: #e4e4e4;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #131313;
    background-image: url('./img/black-mamba.png');
}

header {
    color: #e4e4e4;
    width: 82vw;
    margin-left: 12.5vw;
}

header h1 {
    font-family: "Crimson";
    font-size: 6rem;
    margin: 0;
    text-decoration-line: underline;
    text-decoration-color: #770000;
}

header subtitle {
    font-family: "Crimson";
    font-size: 2rem;
    font-style: italic;
    position: absolute;
    top: 10px;
    right: 1ch;
}

#footer {
    font-family: "B612", sans-serif;
    color: var(--element-bg);
    position: absolute;
    left: 0.5vw;
    bottom: 5px;
}

#footer a,
#footer a:visited,
#footer a:active {
    color: #cc0000;
    text-decoration-style: dotted;
}

/********************************
 * CONTROLS
 ********************************/

#controls {
    width: 75vw;
    margin: 0 auto;
}

#controls fieldset {
    background-color: #e4e4e4;
    height: 8rem;
    border: 0;
    padding: 1.5vh 1vw;
    margin: 0;
}

#controls fieldset legend {
    font-family: "B612", sans-serif;
    color: #e4e4e4;
    background-color: var(--accentred);
    padding: 0.5rem;
    margin: 0;
    margin-left: -0.5vw;
    box-shadow: 2px 2px 2px #131313;
}

#controls .control-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}

#controls .control-group label {
    font-family: "B612", sans-serif;
    margin-top: 0.25vh;
}

/******************************
 * TEXT
 ******************************/

#text-container {
    width: 75vw;
    margin: 0.5vh auto;
    height: 70vh;
    display: grid;
    grid-template-areas: 
        "ctrls ctrls ctrls"
        "inpt arrow outpt";
    grid-template-columns: 1fr 10vw 1fr;
    align-items: start;
    column-gap: 20px;
}

#text-container div {
    width: 100%;
}

#text-container #control-bar {
    grid-area: ctrls;
    margin-bottom: 0.5vh;
    display: grid;
    width: 75vw;
    grid-template-columns: 1fr 10vw 1fr;
}

#text-container #control-bar svg {
    
    cursor: pointer;
}

#text-container #control-bar #preview-controls {
    background-color: var(--element-bg);
    grid-column-start: 3;
    justify-self: end;

}

#text-container #text-separator {
    grid-area: arrow;
    background: transparent;
    width: 10vw;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#text-container #text-separator svg {
    fill: #e4e4e4;
}

#text-container #input-text {
    grid-area: inpt;
    height: 65vh;
}

#text-container #input-text #input-area {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1rem;
    border: 0;
    padding: 1rem;
}

#text-container #input-text button {
    appearance: none;
    font-size: 1.1rem;
    background-color: #770000;
    border: 0;
}

#text-container #output-text {
    background-color: #e4e4e4;
    font-family: "B612", sans-serif;
    font-size: var(--preview-size);
    height: 65vh;
    padding: 1rem;
    border: 0;
    overflow: auto;
    
}

#text-container #output-text .bold-text {
    font-weight: bold;
}

#text-container #preview-controls {

}

/*

nice coding skillz


*/