@font-face {
    font-family: "B612";
    src: url('./fonts/B612/B612-Regular.ttf');
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #131313;
    background-image: url('./img/black-mamba.png');
}

header {
    color: #e4e4e4;
    width: 82vw;
    margin-left: 12.5vw;
}

header h1 {
    font-family: "Crimson";
    font-size: 6rem;
    margin: 0;
    text-decoration-line: underline;
    text-decoration-color: #770000;
}

header subtitle {
    font-family: "Crimson";
    font-size: 2rem;
    font-style: italic;
    position: absolute;
    top: 10px;
    right: 1ch;
}

/********************************
 * CONTROLS
 ********************************/

#controls {
    width: 75vw;
    margin: 0 auto;
}

#controls fieldset {
    background-color: #e4e4e4;
    height: 8rem;
    border: 0;
    padding: 1.5vh 1vw;
    margin: 0;
}

#controls fieldset legend {
    font-family: "B612", sans-serif;
    color: #e4e4e4;
    background-color: #770000;
    padding: 0.5rem;
    margin: 0;
    margin-left: -0.5vw;
    box-shadow: 2px 2px 2px #131313;
}

#controls .control-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}

#controls .control-group label {
    font-family: "B612", sans-serif;
}

/******************************
 * TEXT
 ******************************/


#text-container {
    width: 75vw;
    margin: 1vh auto;
    height: 50vh;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#text-container div {
    background-color: #e4e4e4;
    height: 100%;
    width: 50%;
}

#text-container #text-separator {
    background: transparent;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#text-container #text-separator svg {
    fill: #e4e4e4;
}

#text-container #input-text #input-area {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1rem;
    border: 0;
}

#text-container #input-text button {
    appearance: none;
    font-size: 1.1rem;
    background-color: #770000;
    border: 0;
}

/*

nice coding skillz


*/